
   {{!-- Start of Header --}}
    {{>header}}
   {{!-- End of Header --}}

   {{!-- Start of Preloader --}}
    {{>loader}}
   {{!-- End of Preloader --}}

    {{!-- Start of Navbar --}}
    {{>navbar}}
    {{!-- End of Navbar --}}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid text-center  p-5">
            <img style="margin-top:100px;width:20%" src="https://cdn-icons-png.flaticon.com/512/943/943692.png"/>
            <h2 class="mt-5 text-dark" style="font-family:arial">{{ message }}</h2>
      </div>
    </div>
    <!-- Banner Ends Here -->

    {{!-- Start of Footer --}}
    {{>footer}}
    {{!-- End of Footer --}}